# production
/build

# dependencies
/node_modules

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
